.body {
  background-color: lightblue;
  width: 400px;
  height: 220px;
  margin-top: 300px;
  margin-left: 250px;
  position: relative;
}

.tail {
  width: 200px;
  height: 25px;
  background-color: lightcoral;
  position: absolute;
  left: 200px;
  top: 50%;
  margin-top: _12.5px;
}

.paw-left {
  background-color: lightcoral;
  height: 175px;
  width: 25px;
  position: absolute;
  left: 0px;
  top: 100px;
}

.paw-right {
  background-color: lightcoral;
  height: 175px;
  width: 25px;
  right: 0px;
  top: 100px;
}

.head {
  height: 150px;
  width: 150px;
  background-color: lightcoral;
  position: absolute;
  left: 100%;
  top: -75px;
}

.eye {
  height: 25px;
  width: 25px;
  background-color: white;
  position: absolute;
  right: -25px;
}

.ear {
  height: 100px;
  width: 50px;
  background-color: brown;
}
