.container {
  width: 700px;
  height: 700px;
  margin: auto;
}

.top {
  width: 500px;
  height: 200px;
  background-color: seagreen;
}
.right {
  width: 200px;
  height: 500px;
  background-color: darkgoldenrod;
  float: right;
}

.left {
  width: 200px;
  height: 500px;
  background-color: red;
  float: left;
}

.bottom {
  width: 500px;
  height: 200px;
  background-color: purple;
  float: right;
}
