html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
header {
  height: 50px;
  width: auto;
  background-color: brown;
  overflow: auto;
  color: white;
}
header nav {
  float: right;
  padding-left: 15px;
  margin-top: 15px;
  color: white;
}

aside {
  width: 100px;
  height: 100%;
  background-color: gray;
  float: left;
}
main {
  float: right;
  margin-top: 50px;
}
.image {
  float: left;
}
aside nav {
  text-align: center;
  padding-top: 10px;
}
.logo {
  padding: 15px;
  top: 15px;
  float: left;
}
main p {
  padding: 30px;
}
