body {
  margin: 0;
}
.block1 {
  position: relative;
  height: 300px;
  background-color: #ff3300;
}
.block {
  background-color: #0066ff;
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 100px;
}

.block2 {
  background-color: #66ff66;
  height: 300px;
  position: relative;
}
.block3 {
  background-color: #ff6600;
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}
.class1 {
  background-color: darkslateblue;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.class2 {
  background-color: darkslateblue;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.class2 {
  background-color: darkslateblue;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.class3 {
  background-color: darkslateblue;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.class4 {
  background-color: darkslateblue;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.class5 {
  background-color: darkslateblue;
  height: 50px;
  width: 50px;
  bottom: 50%;
  right: 50%;
  position: absolute;
}
